{% extends 'layout.html' %}

{% block title %}
    Editar Post
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Editar Post</h1>
    <form method="POST" action="{{ url_for('edit_post', post_id=post.id) }}">
        <div class="form-group">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
        </div>
        <div class="form-group">
            <label for="content" class="form-label">Contenido</label>
            <textarea class="form-control" id="content" name="content" rows="5" required>{{ post.content }}</textarea>
        </div>
        <div class="form-group">
                        <label for="cat">Categorías (máximo 3)</label>
                        <select name="categoria_id" class="form-control" id="category_select">
                            <option value="" disabled selected>Añadir Categoría</option>
                            {%for cat in categories%}
                            <option value="{{cat.id}}">{{cat.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="selected_categories" class="row justify-content-center ms-auto">
                            <!-- ESTA PARTE ES SOLO PARA QUE EL JS PUEDA ACCEDER A LA INFORMACION DEL POST A EDITAR 
                            luego el propio JS se encarga de reemplazar los divs por otros con toda la funcionalidad
                            adecuada para renderizarse dinamicamente y enviar los datos de nuevo al backend -->
                            {%for post_cat in post.categories%}
                            <div class="list-group-item d-inline-flex align-items-center justify-content-between mx-2 rounded-pill">
                                <p class="mb-0 mx-1">{{post_cat.name}}</p>
                                <input type="hidden" value={{post_cat.id}}>
                                <button id="delete_category" class="btn btn-danger rounded-circle py-0 px-2 align-items-center justify-content-center" type="button">x</button>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    <div id="hidden_category_inputs">
                    </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{{ url_for('posts') }}" class="btn btn-secondary">Volver</a>
    </form>
</div>
<script src="{{url_for('static', filename='js/categorias.js')}}"></script>
{% endblock %}